target/
.settings/
.classpath
bin/
.mymetadata
.project
.externalToolBuilders/
.tern-project
*.bak
templates/assets/dist
.DS_Store

#IDEA
.idea
*.iml
*rebel.xml
.flattened-pom.xml
.factorypath

node_modules

#VS Code
.vscode