.footer-copyright {
  & p {
    font-family: monospace;
    font-size: x-small;

    & span {
      & .iconify {
        font-size: inherit;
        color: #e74c3c;
      }

      & a {
        text-decoration: none;
      }
    }
  }
}
