@import "header.css";

@import "notice.css";

@import "top-feature.css";

@import "content.css";

.is-homepage {
  & .site-header {
    position: fixed;

    &.yya {
      & .header-inner .lower-container {
        display: block;
      }
    }

    & .header-inner {
      transition: opacity 1s;
      background: var(--header-background);
      opacity: 0.675;

      & .lower-container {
        display: none;
      }
    }

    &:hover {
      & .header-inner {
        position: fixed;
        top: 0;
        opacity: 1;

        & .lower-container {
          display: block;
        }
      }
    }
  }

  @mixin screens-md {
    & .site-header {
      & .header-inner {
        opacity: 0.8 !important;
      }
    }
  }
}
