<!--/* 页脚设置 */-->
<th:block th:fragment="footer">
  <div class="footer-logo">
    <p
      th:style="'background-image: url(' + ${theme.config.others.footer_logo} + ');'"
    ></p>
  </div>
  <div class="footer-halo">
    <halo:footer />
  </div>
  <div class="footer-copyright">
    <!--/* 知道啦... */-->
    <p>
      <span>
        const bloggingFramework = require("
        <a
          rel="me"
          target="_blank"
          href="https://www.halo.run"
          title="一款现代化的开源建站 / CMS 系统。"
          aria-label="engines are supported on this website"
        >
          Halo
        </a>
        ");
      </span>
      <br />
      <span>
        const theme = createTheme(name="sakura", author="
        <a
          rel="me"
          href="https://github.com/LIlGG/halo-theme-sakura"
          aria-label="the theme used by this website"
        >LIlGG</a>
        ");
      </span>
      <br />
      <span>
        theme.authors.push({name: "
        <a
          href="https://github.com/Minoricew/halo-theme-sakurark"
        >Minoricew</a>
        ", type: "Modifier"});
      </span>
      <br />
      <span>
        bloggingFramework.use(theme);
      </span>
    </p>
  </div>
  <div class="footer-device">
    <p class="footer-site-time">
      ©
      <th:block th:text="${#dates.format(new java.util.Date().getTime(), 'yyyy')}" />
      <th:block th:text="${site.title}"></th:block>
    </p>
    <p class="footer-beian">
      <th:block th:if="${not #strings.isEmpty(theme.config.others.footer_case_number)}">
        <a
          href="https://beian.miit.gov.cn/"
          target="_blank"
          th:text="${theme.config.others.footer_case_number}"
          aria-label="gongan filing address"
        ></a>
      </th:block>
      <th:block th:if="${not #strings.isEmpty(theme.config.others.footer_ga_case_number)}">
        <a
          th:href="@{|https://beian.mps.gov.cn/#/query/webSearch?code=${theme.config.others.footer_ga_select_number}|}"
          style="margin-left: 8px"
          target="_blank"
          aria-label="gongan filing address"
        >
          <img
            th:src="${#theme.assets('/images/footer/gongan.png')}"
            alt="badge for gongan"
            width="16"
            height="16"
            style="margin-right: 4px"
          />
          <span th:text="${theme.config.others.footer_ga_case_number}"></span>
        </a>
      </th:block>
    </p>
  </div>
</th:block>
