@import url("https://static.zeoseven.com/zsft/288/main/result.css");

@import url("https://static.zeoseven.com/zsft/285/main/result.css");

@font-face {
  font-display: swap;
  font-family: "3270";
  font-style: normal;
  src: url("https://cdnjs.minorice.moe/gh/Minoricew/halo-theme-sakurark@main/public/3270NerdFont-Regular.ttf") format("truetype");
}
